
.howToBuyCryptoSection {
    background: #141416;
    min-height: 100vh;
    color: white;
    padding: 0 7%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    position: relative;
    gap:15px;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background: #1f2025;
    z-index: -1;
}

.mainTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    width: 250px;
}

.cryptoHighlight {
    color: #BCFE08;
}

.subtitle {
    font-size: 15px;
    color: rgb(166,170,183);
    max-width: 500px;
    align-self: center;
    text-align: right;
}

.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    margin: 60px 0;
}

.heroContent {
    border-radius: 25px;
    padding: 35px;
    background-color:#18191D;
}
.AITradeText {
    font-size: 43px;
    font-weight: 700;
}

.heroContentText2 {
    font-size: 32px;
    font-weight: 500;
}

.heroDescription {
    position: relative;
}
.displayFlexTextDescription {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin: 15px 0;
}
.heroDescription p {
    margin-left: 15px;
}
.heroDescription p:first-child {
    font-size: 24px;
    color:#BCFE08;
    font-weight: 600;
}
.heroDescription p:last-child {
    font-size: 17px;
}
.introText {
    margin-top: 50px;
    margin-bottom: 70px;
}
.introText h3 span {
    color: #BCFE08;
}
.beforeTextWithBorder::before {
    content: '|';
    position: absolute;
    top: 0;
    left: -3px;
    font-size: 42px;
    transform: scaleX(0.7);
    color: #BCFE08;
}

.displayFlexTextDescription2 {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 5px;
}
.displayFlexTextDescription2 p {
    font-size: 14px;
    font-weight: 700;
}
.displayFlexTextDescription2 p span, .introText p {
    color: rgb(166,170,183);
    font-weight: 400;
}
.heroTitle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
}

.stepHighlight {
    color: #BCFE08;
    font-weight: 800;
}



/* .heroImage {
    text-align: center;
} */

.heroImage img {
    width: auto;
    height: 350px;
    aspect-ratio: 916/705;
    object-fit: contain;
    object-position: center;
}


/* FAQ Section */
.faqSection {
    margin-top: 127px;
    padding-bottom: 100px;
}

.faqTitle {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    text-align: left;
}

.faqItem {
    border-bottom: 1px solid #71737a;
    margin-bottom: 0;
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: color 0.3s ease;
}
.faqQuestion span {
    font-size: 18px;
}

.faqQuestion:hover {
    color: #BCFE08;
}

.faqIcon {
    background: url(/assets/images/icon/vector-bottom-arrow.png) no-repeat center;
    width: 18px;
    height: 18px;
    background-size: contain;
    transition: transform 0.3s ease, color 0.3s ease;
}

.faqIconOpen {
    color: #BCFE08;
    transform: rotate(180deg);
}

.faqQuestion:hover .faqIcon {
    color: #BCFE08;
}

.faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}

.faqAnswerOpen {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 20px;
}

.faqAnswer p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.6;
    margin: 0;
}
@media (max-width: 1439px) {
    .howToBuyCryptoSection {
        padding: 0 3.5%;
    }
}
/* Responsive Design */
@media only screen and (max-width: 1024px) {
    .heroContent {
        padding: 20px;
    }
    .heroImage img {
        height: 240px;
    }
    .displayFlexTextDescription {
        gap: 30px;
    }
    .subtitle {
        max-width: 450px;
    }
    
    .mainTitle {
        font-size: 36px;
    }
    
    .heroTitle {
        font-size: 28px;
    }
    
    .faqTitle {
        font-size: 28px;
    }
}

@media only screen and (max-width: 768px) {
    .heroImage img {
        height: 350px;
    }
    .howToBuyCryptoSection {
        padding: 40px 0;
    }
    .subtitle {
        text-align: left;
    }
    .heroSection {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .orderMobileSecond {
        order: 2;
    }
    .orderMobileFirst {
        order: 1;
    }
    .stepCardIconArrow {
        right: 47%;
        bottom: -28px;
        transform: rotate(90deg);
    }
    .mainTitle {
        font-size: 28px;
    }
    
    .heroTitle {
        font-size: 24px;
    }
    
    .container {
        padding: 0 15px;
    }
    
    .faqTitle {
        font-size: 24px;
    }
    
    .faqSection {
        margin-top: 60px;
    }
    .heroContent {
        width: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .heroTitle {
        font-size: 28px;
    }
    .AITradeText {
        font-size: 28px;
    }

    .heroContentText2 {
        font-size: 20px;
    }
    .heroDescription p:first-child {
        font-size: 20px;
    }
    .heroDescription p:last-child {
        font-size: 16px;
    }
    .faqQuestion span:first-child {
        width: 85%;
        font-size: 16px;
    }
    .heroTitle, .heroDescription {
        text-align: left;
    }
    .introText h3 {
        font-size: 28px;
    }
    .heroDescription {
        font-size: 14px;
        align-self: start;
    }
    .displayFlexTextDescription {
        flex-direction: column;
        gap: 20px;
    }
    .faqTitle {
        font-size: 28px;
    }
    .heroContent {
        padding: 15px;
    }
    .faqQuestion {
        font-size: 14px;
        padding: 15px 0;
    }
}
