.gradient-text {
   background: linear-gradient(90deg, #bcfe08, #86f869);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3px;
}

.banner p.fs-14.desc.main-description {
    padding: unset;
}

.main-description {
    font-size: 14px;
    color: #A6AAB7;
    font-weight: 400;
}

p.text.fs-14 {
    color: white;
    font-weight: 300 !important;
    text-transform: unset !important;
}
.white-text {
    color: white !important;
}

.banner .banner__content .btn-action {
    margin-top: 27px !important;
}
.MenuListNew_menuGrid__Go4YE {
    background: #18191d17 !important;
}

@media (min-width: 1440px) {
    .main-description {
        margin-bottom: 24px;
    }
}
@media (min-width: 1920px) {
    section.MenuListNew_menuListSection__geRaI.aos-init.aos-animate {
        position: relative;
        top: -50px !important;
    }
}

.ai-copy-trade h3.heading {
    padding-right: 0px !important;
}
.about__content.aos-init.aos-animate {
    padding-right: 0px !important;
}

@media (min-width: 1180px) {
    .adaptive-small {
        display: none;
    }
}
/* Responsive */
@media (min-width: 1440px) and (max-width: 1599px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    img.img0-ai.pic-1 {
        /* width: 75% !important; */
    }
    .about__content.aos-init.aos-animate {
        padding-top: 75px;
    }
    .element-1-e-l {
        padding-top: 165px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 5%;
    }
    .about-first-title-container .about-first-title {
        font-size: 56px; /* để cho nó chung padding với section ở trên */
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }

}
@media (min-width: 1600px) and (max-width: 1919px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    img.img0-ai.pic-1 {
        /* width: 75% !important; */
    }
    .about__content.aos-init.aos-animate {
        padding-top: 75px;
    }
    .element-1-e-l {
        padding-top: 165px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .about-first-title-container .about-first-title {
        font-size: 48px;
    }
    section.about {
        padding-top: 0 !important;
        padding: 0% 6% 5% 6% !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .work.background-container-custom {
        padding: 0 8% !important;
    }
    section.work .col-md-12 {
        padding-right: 0 !important;
    }
    .container.ai-copy-trade {
        padding: 0 !important;
    }
    .ai-copy-trade .col-xl-6.col-md-12 {
        padding: 0 !important;
    }

}
@media (min-width: 1920px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    img.img0-ai.pic-1 {
        /* width: 75% !important; */
    }
    .about__content.aos-init.aos-animate {
        padding-top: 75px;
    }
    .element-1-e-l {
        padding-top: 165px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .about-first-title-container .about-first-title {
        font-size: 48px;
    }
    section.about {
        padding-top: 0 !important;
        padding: 0% 6% 5% 6% !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .work.background-container-custom {
        padding: 0 8% !important;
    }
    section.work .col-md-12 {
        padding-right: 0 !important;
    }
    .container.ai-copy-trade {
        padding: 0 !important;
    }
    .ai-copy-trade .col-xl-6.col-md-12 {
        padding: 0 !important;
    }
    .limit-width {
        width: 45% !important;
        margin-left: 4% !important;
    }
}
/* iPad Pro 1366 */
@media (min-width: 1360px) and (max-width: 1439px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 75px;
    }
    .element-1-e-l {
        padding-top: 165px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 56px; /* để cho nó chung padding với section ở trên */
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .limit-width {
        width: 45% !important;
        margin-left: 5% !important;
    }
    .about__content.element-1-e-l {
        padding-left: 4px !important;
    }

}
/* iPad Pro 1024 */
@media (min-width: 1020px) and (max-width: 1179px) {
     .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 75px;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 56px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .col-xl-6.col-md-12.adaptive {
        display: none;
    }
    .adaptive-small {
        display: block !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 6%;
    }
}
/* iPad Air 1180 */
@media (min-width: 1180px) and (max-width: 1359px) {
     .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 150px;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 27%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 50.5px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 5%;
    }
}
/* iPad Air 820 */
@media (min-width: 800px) and (max-width: 1019px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 50px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 13%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 50.5px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 5%;
    }

    .col-xl-6.col-md-12.adaptive {
        display: none;
    }
    .adaptive-small {
        display: block !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    
}
/* iPad Mini 768 */
@media (min-width: 600px) and (max-width: 799px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 50px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 13%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 50.5px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 5%;
    }

    .col-xl-6.col-md-12.adaptive {
        display: none;
    }
    .adaptive-small {
        display: block !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    
}
/* Mobile */
@media (min-width: 400px) and (max-width: 550px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 50px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 13%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 50.5px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 5%;
    }

    .col-xl-6.col-md-12.adaptive {
        display: none;
    }
    .adaptive-small {
        display: block !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    
}
@media (max-width: 399px) {
    .ai-copy-trade h3.heading {
        font-size: 28px  !important;
    }
    .about__content.aos-init.aos-animate {
        padding-top: 50px !important;
    }
    .ai-copy-trade a.btn-action {
        margin-top: 20px !important;
    }
    h3.title-ssgd {
        font-size: 28px;
        background: linear-gradient(#BCFE08, #86F969);
        color: transparent;
        background-clip: text;
        padding-top: 4px;
        margin-bottom: 16px;
    }
    .san-sang-gd-container {
        text-align: center;
    }
    p.text-desc-san-sang {
        padding: 0 13%;
    }
    .about-first-title-container {
        text-align: center;
        margin-bottom: 10%;
    }
    .about-first-title-container .about-first-title {
        font-size: 50.5px;
    }
    section.about {
        padding-top: 0 !important;
    }
    section.work .col-md-12 {
        padding-left: 0 !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    section.san-sang-giao-dich {
        margin-bottom: 5%;
    }

    .col-xl-6.col-md-12.adaptive {
        display: none;
    }
    .adaptive-small {
        display: block !important;
    }
    .about_image .img0-ai {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    
}