
.widget {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between; /* Phân đều các widget-link */
  height: 100%; /* Đảm bảo chiếm toàn bộ chiều cao cột */
  gap: 0; /* Xóa khoảng cách thừa nếu có */
}

.widget-link {
  margin-bottom: 0; /* Xóa margin nếu có */
}

/* Fix footer */
@media (min-width: 700px)  {
    .widget-link.s1 {
        padding-left: 0px !important;
        position: relative;
        left: -60px;
    }
    .widget-link.s2.custom-s2 {
        padding-left: 0px !important;
        position: relative;
        left: -30px;
        width: 160px;
    }
    .widget-link.s3 {
        padding-left: 0px !important;
        position: relative;
        left: 20px;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .widget-link.s2.custom-s2 {
        padding-left: 0px !important;
        min-width: 135px !important;
    }
}
@media (max-width: 399px) {
    .widget-link.s2.custom-s2 {
        padding-left: 0px !important;
        min-width: 135px !important;
    }
}
