.btn-action {
    border-radius: 99px !important;
}
footer .btn-action {
    border-radius: 0 99px 99px 0 !important;
}

@media (min-width: 800px) {
    .break-line {
        display: block;
    }
}
@media (min-width: 1200px) {
    .block-hero-banner-text .break-line {
        display: block;
    }
}
@media (min-width: 801px) and (max-width: 1199px) {
    .block-hero-banner-text .break-line {
        display: inline !important;
    }
}

.big-text {
    font-size: 32px !important;
}
.title-uu-the-nen-tang {
    font-weight: 700;
}
.white-text {
    color: white !important;
}
.font-weight-bolder {
    font-weight: 700 !important;
}
.normal-text-p {
    font-size: 48px;
    letter-spacing: .25px;
}

.banner-tao-lien-ket-gioi-thieu .banner-title {
    font-size: 36px;
}
.text-nguyen-ly-copy-trade {
    color: white;
}
.text-nguyen-ly-copy-trade {
    list-style-type: disc !important;
    font-weight: 300 !important;
    letter-spacing: 0px;
    font-size: 18px;
    /* line-height: 1.4; */
}
.ul-text-content {
    padding-left: 1rem;
    margin-top: 8px;
}
.gradient-text {
   background: linear-gradient(90deg, #bcfe08, #86f869);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3px;
}
section.banner-tao-lien-ket-gioi-thieu {
    background: #18191D;
}

.uppercase-text {
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 500;
}
.text-box-border-container,
.text-box-border-container-gray {
    display: flex;
    align-items: center;
}
.block-khoi-div-uu-the-gray {
    background: #24252999;
}
p.sub-content-section-3 {
    font-weight: 300;
}

@media (min-width: 1440px) and (max-width: 1599px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 3.5% calc(7% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    /* .image-hero-sect {
        width: 70%;
    } */
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    /* .con-so-big-2 {
        position: relative;
        right: -19%;
    } */
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        scale: 1.2;
        position: relative;
        left: -36px;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 3.5% calc(7% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    /* .con-so-big-2 {
        position: relative;
        right: -27%;
    } */
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        scale: 1.2;
        position: relative;
        left: -36px;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
}

@media (min-width: 1920px) and (max-width: 2099px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 3.5% calc(12% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        /* align-items: center; */
        padding-top: 32px;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        scale: 1.1;
        position: relative;
        left: -36px;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
}

@media (min-width: 2100px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 3.5% calc(15% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    /* .con-so-big-2 {
        position: relative;
        right: -27%;
    } */
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        scale: 1.2;
        position: relative;
        left: -36px;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
}
/* =========================
   iPad Pro 12.9" (1024 × 1366)
   ========================= */
@media (min-width: 1024px) and (max-width: 1366px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        position: relative;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
    .text-box-border-container-second .text-ben-phai-box {
        width: 85%;
    }
}
@media (min-width: 1367px) and (max-width: 1439px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        position: relative;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
    .text-box-border-container-second .text-ben-phai-box {
        width: 85%;
    }
}

/* =========================
   iPad Air (820 × 1180) & iPad Mini (768 × 1024)
   ========================= */
@media (min-width: 768px) and (max-width: 1023px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible {
        display: flex;
    }
    section.content-tao-lien-ket-gioi-thieu .row.width-50-vw {
        align-items: center;
    }
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container {
        margin-top: 3%;
    }
    .title-uu-the-nen-tang {
        font-size: 64px !important;
        line-height: 1.15;
    }
    .normal-title-nen-tang {
        font-size: 48px !important;
    }

     .quote-image-container-container {
        display: flex;
     }
    .block-hero-banner-text {
        margin-top: 15px;
        margin-left: 10px;
    }
    .image-hero-sect.width-50-vw {
        text-align: right;
    }
    .width-50-vw {
        width: 100%;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 3%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    .text-nguyen-ly-copy-trade {
        font-size: 18px;
        line-height: 1.8;
    }
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    .font-size-64 {
        font-size: 64px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 33.3%;
        padding: 30px 20px;
    }
    p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        text-align: left;
    }
    p.sub-title-section-3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: left;
        margin-top: 15px;
    }
    .ul-content-section-3 {
        padding-left: 15px;
    }
    .li-content-section-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        list-style-type: disc !important;
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
    }
    .sub-div-sb {
        text-align: left;
        padding: 0 10px;
    }
    .block-khoi-div-uu-the-container {
        margin: 20px 0;
        gap: 15px;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    .image-hero-sect img {
        position: relative;
    }
    .container-display-flex {
        display: flex;
    }
    p.title-uu-the-tam-chien-luoc {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
    }
    .container-display-flex {
        gap: 20px;
    }
    .uu-the-tam-chien-luoc {
        background-color: #18191D;
    }
    .container-display-block {
        margin-top: 20px;
    }
    .uu-the-tam-chien-luoc {
        padding: 20px;
    }
    .title-uu-the-tam-chien-luoc.gradient-text,
    .text-uu-the-tam-chien-luoc {
        margin-left: 5px;
    }
    .uu-the-tam-chien-luoc {
        border-left: 4px solid #BCFE08;
    }
    .ul-normal {
        padding-left: 24px;
    }
    .li-normal {
        list-style-type: disc;
    }
    .li-normal::marker {
        color: #BCFE08;
    }
    .title-container-opt {
        margin-bottom: 3%;
    }
    .text-box-border-container-second .text-ben-phai-box {
        width: 85%;
    }
}

/* =========================
   Mobile (≤ 767px)
   ========================= */

@media (max-width: 767px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    section.content-tao-lien-ket-gioi-thieu .hero-section-container-flexible,
    section.content-tao-lien-ket-gioi-thieu .quote-image-container-container,
    section.content-tao-lien-ket-gioi-thieu .title-uu-the-nen-tang-container,
    section.content-tao-lien-ket-gioi-thieu .text-box-border-container-second {
        padding: 4%;
    }

    .banner-tao-lien-ket-gioi-thieu .banner-title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
    }
    .co-che-chien-luoc-xu-huong .block-text {
        padding-left: calc(4% + 15px) !important;
    }
    .co-che-chien-luoc-xu-huong .sub-div-sb {
        padding-left: 4%;
        padding-right: 4%;
    }
    span.gradient-text.font-size-64 {
        font-size: 38px;
        font-weight: 700;
    }
    section.tai-sao-nen-chon-chien-luoc span.normal-text-p {
        font-size: 24px;
    }
    .container-display-flex p.title-uu-the-tam-chien-luoc.gradient-text,
    .container-display-block p.title-uu-the-tam-chien-luoc.gradient-text {
        font-size: 28px;
        font-weight: 700;
    }
    p.text-uu-the-tam-chien-luoc {
        color: white;
        font-size: 14px;
        text-align: justify;
    }
    .tai-sao-nen-chon-chien-luoc .uu-the-tam-chien-luoc {
        margin-bottom: 20px;
        padding: 20px;
        border-left: 4px solid #BCFE08;
        background-color: #18191D;
    }
    .tai-sao-nen-chon-chien-luoc p.title-uu-the-tam-chien-luoc.gradient-text {
        margin-bottom: 15px;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container, .text-box-border-container-second {
        margin-bottom: 25px;
        margin-top: 5px;
    }
    .text-box-border-container {
        background-color: #242529;
    }
    .tai-sao-nen-chon-chien-luoc .block-text.title-container-opt {
        margin-bottom: 25px;
    }

    ul.ul-text-content {
        text-align: justify;
    }
    p.text-nguyen-ly-copy-trade {
        font-weight: 300 !important;
        font-size: 14px !important;
    }

    .uppercase-text,
    p.title-section-2 {
        font-size: 20px;
        text-align: center;
    }

    .text-box-border-container,
    .text-box-border-container-gray {
        flex-direction: row;
        text-align: center;
        gap: 15px;
        padding: 1rem;
    }

    .con-so-big {
        font-size: 60px;
    }

    .text-nguyen-ly-copy-trade {
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
    }
    .tieu-de-big {
        text-align: justify;
    }
    .text-box-border-container-second .tieu-de-big.uppercase-text {
        text-align: left;
    }

    .ul-text-content {
        padding-left: 1.25rem;
    }

    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }

    p.sub-title-section-3 {
        font-size: 16px;
    }

    p.sub-content-section-3 {
        font-size: 14px;
    }

    .gradient-text {
        background: linear-gradient(90deg, #bcfe08, #86f869);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
    }
    .con-so-big {
        position: relative;
        top: -100px;
    }
    .con-so-big-2 {
        top: 0;
    }
    .container.hero-section-container-flexible {
        display: flex;
        flex-direction: column-reverse;
    }
    section.content-tao-lien-ket-gioi-thieu .image-hero-sect.width-50-vw {
        display: flex;
        flex-direction: column;
    }
    section.content-tao-lien-ket-gioi-thieu .block-text.block-hero-banner-text {
        padding-left: 2rem;
    }
    .quote-image-container-container .big-text .gradient-text {
        font-size: 28px;
        font-weight: 700;
    }
    section.content-tao-lien-ket-gioi-thieu .container.hero-section-container-flexible {
        margin-bottom: 15%;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-uu-the-gray {
        background: #24252999;
        /* width: 20%; */
    }
    .block-khoi-div-uu-the,
    .block-khoi-div-uu-the-gray {
        /* width: 20%; */
        padding: 30px 10px;
    }
    p.sub-title-section-3 {
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-align: left;
    }
    p.sub-content-section-3 {
        text-align: center;
    }
    .sub-div-sb {
        text-align: center;
        /* padding: 0 10px; */
    }
    .block-khoi-div-uu-the-container {
        margin: 5% 0;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    section.tai-sao-nen-chon-chien-luoc .sub-div-sb img {
        position: relative;
        left: -6px;
    }
    .sub-div-sb {
        text-align: left !important;
    }
    .sub-div-sb p.con-so-section-2 {
        font-size: 64px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0;
    }
    .co-che-chien-luoc-xu-huong p.sub-title-section-3 {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0;
    }
    .block-khoi-div-uu-the-container {
        display: block !important;
    }
    h3.big-text {
        font-size: 32px !important;
    }
    .tieu-de-big-special-mobile {
        /* padding-right: 10px; */
    }
    .break-line {
        display: block;
    }
    .block-hero-banner-text .break-line {
        display: inline !important;
    }
    .title-uu-the-nen-tang span.gradient-text.break-line,
    section.co-che-chien-luoc-xu-huong .font-size-64 {
        font-size: 38px;
        font-weight: 700;
        letter-spacing: .25px;
    }
    span.normal-title-nen-tang.white-text,
    section.co-che-chien-luoc-xu-huong span.normal-text-p {
        font-size: 24px;
    }
    section.content-tao-lien-ket-gioi-thieu .text-box-border-container:nth-child(5) .con-so-big {
        top: -130px;
    }
    li.li-content-section-3 {
        list-style-type: disc;
        color: white;
    }
    ul.ul-content-section-3 {
        padding-left: 15px;
    }
    section.co-che-chien-luoc-xu-huong {
        margin-top: 60px !important;
    }
    .banner-tao-lien-ket-gioi-thieu span.gradient-text {
        font-weight: 700 !important;
    }
}