.RaLayout-contentWithSidebar a.RaMenuItemLink-active {
    color: black;
    background-color: rgb(206, 228, 162);
}
.RaLayout-contentWithSidebar #main-content h3 {
    color: black;
}
.layout div.RaLayout-appFrame {
    margin-top: 0px;
}
.MuiFormControl-root.MuiTextField-root.css-10c21ck {
    display: none;
}
div.quill .ql-tooltip.ql-editing {
    top: unset !important;
    left: unset !important;
}
div.quill .ql-tooltip.ql-editing input[type=text] {
    width: 300px;
}