.blog-box {
    border-radius: 0px;
}
.button-loadmore a {
    border-radius: 0;
    color: black;
    background: linear-gradient(to right, #BCFE08, #86F969);
}
.blog-details .sidebar {
    background-color: rgb(93 91 91 / 22%);
}

@media (min-width: 1440px) and (max-width: 1599px) {
    section.blog-details,
    section.duoc-xem-nhieu.col-md-12
    {
        padding: 3.5% 7%;
    }
    section.page-title {
        padding: 3.5% 7%;
    }

    ul.menu-tab.menu-on-line {
        display: flex;
        gap: 4%;
    }
    .button-loadmore a {
        padding: 14px 35px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0;
    }
    .button-loadmore {
        margin-top: -5px;
        display: flex;
        justify-content: flex-end;
    }
    .content-tab .blog-box a.title {
        margin-top: 0;
    }
    .content-tab .blog-box .box-content {
        padding: 0;
    }
    .content-tab .blog-box .box-image {
        margin-bottom: 10px;
    }
    .content-tab .blog-box .box-content .title {
        font-size: 13.2px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0;
    }
    .heading-title-main {
        margin-top: -20%;
        padding: 0 5%;
        position: relative;
        z-index: 100;
    }
    .blog-details .sidebar {
        padding-left: 0 !important;
    }
    .blog-details .blog-main {
        margin-right: 0 !important;
    }
}