.btn-action {
    border-radius: 99px !important;
}
footer .btn-action {
    border-radius: 0 99px 99px 0 !important;
}
.text-bolder {
    font-weight: 700 !important;
}
.text-welcome-main-2 {
    color: white;
    font-weight: 400;
}

@media (min-width: 800px) {
    .break-line {
        display: block; /* Tự động xuống dòng */
    }
}
.banner-tao-bao-li-xi-nivex-huong-dan .banner-title {
    font-size: 36px;
}
.title-ho-tro-truc-tuyen {
    margin-bottom: 10px;
}
.ul-text-content {
    padding-left: 1rem;
    margin-top: 8px;
}
.gradient-text {
   background: linear-gradient(90deg, #bcfe08, #86f869);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3px;
}
section.banner-tao-bao-li-xi-nivex-huong-dan {
    background: #18191D;
}

.uppercase-text {
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 500;
}
.text-box-border-container,
.text-box-border-container-gray {
    display: flex;
    align-items: center;
}
.block-khoi-div-tai-sao-gray {
    background: #24252999;
}
p.sub-content-section-3 {
    font-weight: 300;
}

@media (min-width: 1440px) and (max-width: 1599px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan, 
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc,
    section.tuyen-bo-su-dung-du-lieu {
        padding: 3.5% calc(7% + 15px);
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.tuyen-bo-su-dung-du-lieu {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(7% + 15px);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
    }
  
    h3.big-text {
        margin-bottom: .5rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    table.table-tiem-nang-loi-nhuan {
        width: 100%;
        text-align: center;
        color: white;
        margin: 3% 0;
    }
    .th-table-tiem-nang,
    .td-table-tiem-nang {
        padding: 1.5% 0;
        border: 1px solid white;
        width: 50%;
    }
    .th-table-tiem-nang-2,
    .td-table-tiem-nang-2 {
        padding: 1.5% 5%;
        border: 1px solid white;
        width: 33.33%;
    }
    .italic-text-tiem-nang-loi-nhuan > * ,
    .italic-text-tiem-nang-loi-nhuan > * > * {
        padding: 5px 0;
        color: white;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
    }
    .special-italic-tiem-nang-ln ul {
        padding-left: 20px;
    }
    .special-italic-tiem-nang-ln li {
        list-style-type: disc;
    }
    .title-su-dung-du-lieu {
        font-size: 48px;
        font-weight: 700;
        color: white;
    }
    .text-su-dung-du-lieu {
        font-size: 14px;
        font-weight: 400;
        color: white;
        letter-spacing: 0px;
        line-height: 1.4;
        text-align: left;
        list-style-type: disc;
        padding: 2px 0;
    }
    .list-su-dung-du-lieu {
        padding-left: 20px;
    }
    .big-text-ket-luan p {
        font-size: 48px;
        font-weight: 700;
    }
    .content-text-ket-luan {
        margin: -10px 0 20px 0;
    }
    .text-welcome-main-2 {
        font-size: 14px;
    }
    .padding-cust {
        padding: 1.5% 8%;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan, 
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc,
    section.tuyen-bo-su-dung-du-lieu {
        padding: 3.5% calc(7% + 15px);
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.tuyen-bo-su-dung-du-lieu {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(7% + 15px);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
    }
  
    h3.big-text {
        margin-bottom: .5rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    table.table-tiem-nang-loi-nhuan {
        width: 100%;
        text-align: center;
        color: white;
        margin: 3% 0;
    }
    .th-table-tiem-nang,
    .td-table-tiem-nang {
        padding: 1.5% 0;
        border: 1px solid white;
        width: 50%;
    }
    .th-table-tiem-nang-2,
    .td-table-tiem-nang-2 {
        padding: 1.5% 5%;
        border: 1px solid white;
        width: 33.33%;
    }
    .italic-text-tiem-nang-loi-nhuan > * ,
    .italic-text-tiem-nang-loi-nhuan > * > * {
        padding: 5px 0;
        color: white;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
    }
    .special-italic-tiem-nang-ln ul {
        padding-left: 20px;
    }
    .special-italic-tiem-nang-ln li {
        list-style-type: disc;
    }
    .title-su-dung-du-lieu {
        font-size: 48px;
        font-weight: 700;
        color: white;
    }
    .text-su-dung-du-lieu {
        font-size: 14px;
        font-weight: 400;
        color: white;
        letter-spacing: 0px;
        line-height: 1.4;
        text-align: left;
        list-style-type: disc;
        padding: 2px 0;
    }
    .list-su-dung-du-lieu {
        padding-left: 20px;
    }
    .big-text-ket-luan p {
        font-size: 48px;
        font-weight: 700;
    }
    .content-text-ket-luan {
        margin: -10px 0 20px 0;
    }
    .text-welcome-main-2 {
        font-size: 14px;
    }
    .padding-cust {
        padding: 1.5% 8%;
    }
}

@media (min-width: 1920px) and (max-width: 2099px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan, 
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc,
    section.tuyen-bo-su-dung-du-lieu {
        padding: 3.5% calc(12% + 15px);
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.tuyen-bo-su-dung-du-lieu {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(7% + 15px);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
    }
  
    h3.big-text {
        margin-bottom: .5rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    table.table-tiem-nang-loi-nhuan {
        width: 100%;
        text-align: center;
        color: white;
        margin: 3% 0;
    }
    .th-table-tiem-nang,
    .td-table-tiem-nang {
        padding: 1.5% 0;
        border: 1px solid white;
        width: 50%;
    }
    .th-table-tiem-nang-2,
    .td-table-tiem-nang-2 {
        padding: 1.5% 5%;
        border: 1px solid white;
        width: 33.33%;
    }
    .italic-text-tiem-nang-loi-nhuan > * ,
    .italic-text-tiem-nang-loi-nhuan > * > * {
        padding: 5px 0;
        color: white;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
    }
    .special-italic-tiem-nang-ln ul {
        padding-left: 20px;
    }
    .special-italic-tiem-nang-ln li {
        list-style-type: disc;
    }
    .title-su-dung-du-lieu {
        font-size: 48px;
        font-weight: 700;
        color: white;
    }
    .text-su-dung-du-lieu {
        font-size: 14px;
        font-weight: 400;
        color: white;
        letter-spacing: 0px;
        line-height: 1.4;
        text-align: left;
        list-style-type: disc;
        padding: 2px 0;
    }
    .list-su-dung-du-lieu {
        padding-left: 20px;
    }
    .big-text-ket-luan p {
        font-size: 48px;
        font-weight: 700;
    }
    .content-text-ket-luan {
        margin: -10px 0 20px 0;
    }
    .text-welcome-main-2 {
        font-size: 14px;
    }
    .padding-cust {
        padding: 1.5% 8%;
    }
}
@media (min-width: 2100px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan, 
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc,
    section.tuyen-bo-su-dung-du-lieu {
        padding: 3.5% calc(15% + 15px);
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.tuyen-bo-su-dung-du-lieu {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(7% + 15px);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
    }
  
    h3.big-text {
        margin-bottom: .5rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    table.table-tiem-nang-loi-nhuan {
        width: 100%;
        text-align: center;
        color: white;
        margin: 3% 0;
    }
    .th-table-tiem-nang,
    .td-table-tiem-nang {
        padding: 1.5% 0;
        border: 1px solid white;
        width: 50%;
    }
    .th-table-tiem-nang-2,
    .td-table-tiem-nang-2 {
        padding: 1.5% 5%;
        border: 1px solid white;
        width: 33.33%;
    }
    .italic-text-tiem-nang-loi-nhuan > * ,
    .italic-text-tiem-nang-loi-nhuan > * > * {
        padding: 5px 0;
        color: white;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
    }
    .special-italic-tiem-nang-ln ul {
        padding-left: 20px;
    }
    .special-italic-tiem-nang-ln li {
        list-style-type: disc;
    }
    .title-su-dung-du-lieu {
        font-size: 48px;
        font-weight: 700;
        color: white;
    }
    .text-su-dung-du-lieu {
        font-size: 14px;
        font-weight: 400;
        color: white;
        letter-spacing: 0px;
        line-height: 1.4;
        text-align: left;
        list-style-type: disc;
        padding: 2px 0;
    }
    .list-su-dung-du-lieu {
        padding-left: 20px;
    }
    .big-text-ket-luan p {
        font-size: 48px;
        font-weight: 700;
    }
    .content-text-ket-luan {
        margin: -10px 0 20px 0;
    }
    .text-welcome-main-2 {
        font-size: 14px;
    }
    .padding-cust {
        padding: 1.5% 8%;
    }
}
/* =========================
   iPad Pro 12.9" (1024 × 1366)
   ========================= */
@media (min-width: 1024px) and (max-width: 1366px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan,
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.ho-tro-truc-tuyen,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.ho-tro-truc-tuyen {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(4%);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
        /* right: -8%; */
    }
    h3.big-text {
        margin-bottom: 1rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-ho-tro-truc-tuyen {
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .text-ho-tro-truc-tuyen {
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .link-gg-auth {
        font-size: 14px;
        font-weight: 300;
        color: #BCFE08;
        text-decoration: underline;
    }
}
@media (min-width: 1367px) and (max-width: 1439px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan,
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }
    .banner-section-flexible {
        display: flex;
        gap: 25%;
    }
    section.ho-tro-truc-tuyen {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        right: calc(4%);
        text-align: right;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
        /* right: -8%; */
    }
    h3.big-text {
        margin-bottom: 1rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-ho-tro-truc-tuyen {
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .text-ho-tro-truc-tuyen {
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .link-gg-auth {
        font-size: 14px;
        font-weight: 300;
        color: #BCFE08;
        text-decoration: underline;
    }
}

/* =========================
   iPad Air (820 × 1180) & iPad Mini (768 × 1024)
   ========================= */
@media (min-width: 790px) and (max-width: 1023px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan,
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.ho-tro-truc-tuyen,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 5%;
    }
    /* .banner-section-flexible {
        display: flex;
        gap: 25%;
    } */
    section.ho-tro-truc-tuyen {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        /* right: calc(5%); */
        text-align: left;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .li-xi-nivex-super-text p {
        font-size: 14px;
    }

    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
        /* right: -8%; */
    }
    h3.big-text {
        margin-bottom: 1rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-ho-tro-truc-tuyen {
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .text-ho-tro-truc-tuyen {
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .link-gg-auth {
        font-size: 14px;
        font-weight: 300;
        color: #BCFE08;
        text-decoration: underline;
    }
}

/* iPad Mini */
@media (min-width: 768px) and (max-width: 789px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan,
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.tai-sao-nen-chon-chien-luoc,
    section.ho-tro-truc-tuyen {
        padding: 5%;
    }
    section.ho-tro-truc-tuyen {
        padding-top: 0;
        padding-bottom: 7%;
    }
    .li-xi-nivex-super-text {
        font-weight: 700;
        position: absolute;
        /* right: calc(5%); */
        text-align: left;
    }
    .container-flexible {
        display: flex;
        /* align-items: center; */
    }
    .li-xi-nivex-super-text p {
        font-size: 14px;
    }

    .image-bao-li-xi-container {
        width: 100%;
    }
    img.image-bao-li-xi {
        width: 100%;
        position: relative;
        /* right: -8%; */
    }
    h3.big-text {
        margin-bottom: 1rem;
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
    .gg-step-component-title {
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-bottom: 16px;
    }
    .group-images-flexible {
        display: flex;
        gap: 20px;
    }
    img.image-li-xi {
        max-width: 50vw;
    }
    .buoc-huong-dan {
        margin: 20px 0;
    }
    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-box-border-container.flex {
        position: relative;
        gap: 50px;
    }
    .text-box-border-container-second {
        position: relative;
        gap: 5%;
    }
    .text-box-border-container.flex,
    .text-box-border-container-second {
        margin-top: 5%;
        padding: 1.5rem;
    }
    .text-box-border-container-gray {
        background-color: #242529 !important;
    }
    
    .con-so-big-2 {
        position: absolute;
        right: 0;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-ho-tro-truc-tuyen {
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .text-ho-tro-truc-tuyen {
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .link-gg-auth {
        font-size: 14px;
        font-weight: 300;
        color: #BCFE08;
        text-decoration: underline;
    }
}
/* =========================
   Mobile (≤ 767px)
   ========================= */

@media (max-width: 767px) {
    section.banner-tao-bao-li-xi-nivex-huong-dan,
    section.content-tao-bao-li-xi-nivex-huong-dan,
    section.co-che-chien-luoc-xu-huong,
    section.ho-tro-truc-tuyen,
    section.tai-sao-nen-chon-chien-luoc {
        padding: 4%;
    }

    .li-xi-nivex-super-text {
        font-weight: 700;
    }
    .container-flexible {
        flex-direction: column-reverse;
        display: flex;
    }
    h3.big-text, h3.big-text .gradient-text {
        font-weight: 700 !important;
    }
    .gg-step-component-title {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .li-xi-nivex-super-text p {
        font-size: 12px;
        font-weight: 700;
        margin-top: 7px;
    }
    .step-components-mobile-mt,
    img.image-li-xi {
        margin-top: 20px;
    }
    img.image-li-xi {
        width: calc(30% + 7px);
    }
    .group-images-flexible {
        display: inline-block;
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .buoc-huong-dan:nth-child(2) {
        margin-bottom: 10px;
    }

    img.image-li-xi {
        padding-bottom: 20px;
    }

    .banner-tao-bao-li-xi-nivex-huong-dan .banner-title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
    }

    .con-so-big {
        font-size: 96px;
        font-weight: 800;
        background: -webkit-linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul.ul-text-content {
        text-align: justify;
    }
    .uppercase-text,
    p.title-section-2 {
        font-size: 20px;
        text-align: center;
    }

    .text-box-border-container,
    .text-box-border-container-gray {
        flex-direction: row;
        text-align: center;
        gap: 15px;
        padding: 1rem;
    }

    .con-so-big {
        font-size: 60px;
    }

    .tieu-de-big {
        text-align: justify;
    }
    .text-box-border-container-second .tieu-de-big.uppercase-text {
        text-align: left;
    }

    .ul-text-content {
        padding-left: 1.25rem;
    }

    .block-khoi-div-tai-sao,
    .block-khoi-div-tai-sao-gray {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }

    p.sub-title-section-3 {
        font-size: 16px;
    }

    p.sub-content-section-3 {
        font-size: 14px;
    }

    .gradient-text {
        background: linear-gradient(90deg, #bcfe08, #86f869);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
    }
    .con-so-big {
        position: relative;
        top: -100px;
    }
    .con-so-big-2 {
        position: relative;
        top: -12px;
    }
    p.title-section-2 {
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        font-weight: 500;
    }
    .title-section-2-container {
        display: flex;
        gap: 15px;
        margin-bottom: 17px;
    }
    .nguyen-ly-cot-loi {
        margin: 4% 0;
    }
    .block-khoi-div-tai-sao-gray {
        background: #24252999;
        /* width: 20%; */
    }
    .block-khoi-div-tai-sao,
    .block-khoi-div-tai-sao-gray {
        /* width: 20%; */
        padding: 30px 10px;
    }
    p.sub-title-section-3 {
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    p.sub-content-section-3 {
        text-align: center;
    }
    .sub-div-sb {
        text-align: center;
        /* padding: 0 10px; */
    }
    .block-khoi-div-tai-sao-container {
        margin: 5% 0;
    }
    p.sub-title-section-3 {
        margin: 15px 0;
    }
    section.tai-sao-nen-chon-chien-luoc {
        margin-bottom: 4%;
    }
    section.tai-sao-nen-chon-chien-luoc .sub-div-sb img {
        position: relative;
        left: -6px;
    }
    .block-khoi-div-tai-sao-container {
        display: block !important;
    }
    h3.big-text {
        font-size: 28px;
    }
    .tieu-de-big-special-mobile {
        padding-right: 16px;
    }
    .break-line {
        display: inline; /* Trên mobile gộp chung 1 dòng */
    }
    .title-ho-tro-truc-tuyen {
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .text-ho-tro-truc-tuyen {
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .link-gg-auth {
        font-size: 14px;
        font-weight: 300;
        color: #BCFE08;
        text-decoration: underline;
    }
    section.ho-tro-truc-tuyen {
        margin-bottom: 10%;
    }
}