section.blog-grid .blog-box {
    border-radius: 0px !important;
}
.blog-grid .flat-tabs .menu-tab li {
    border-radius: 0 !important;
}

/* 1440 PC */
@media (min-width: 1440px) and (max-width: 1599px) {
    section.blog-grid,
    section.page-title {
        padding: 3.5% 7%;
    }
    section.section-news-header {
        padding: 3.5% 8%;
    }
    section.blog-grid a.title {
        /* position: relative;
        top: -90px;
        padding: 0 15px; */
    }
    .blog-box .box-content {
        /* padding: 0 !important; */
         position: relative;
        top: -90px;
        padding: 0 15px;
    }
    .blog-box .box-content .title {
        font-size: 23.68px;
        font-weight: 700;
        margin: 0;
    }
    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
        position: relative;
        top: -30px;
    }
    .blog-grid .flat-tabs .menu-tab li {
        padding: 8px 18px;
    }
    .section-news-header {
        background: #1e1f22;
        padding: 32px 8%;
        border-bottom: 2px solid #232326;
    }
    .sidebar .widget ul li {
        padding-left: 14px;
        padding-right: 14px;
    }

    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* max-width: 1400px; */
        margin: 0 auto;
        /* padding: 0 32px; */
    }

    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }
}

/* 1600 PC */
@media (min-width: 1600px) and (max-width: 1919px) {
    section.blog-grid,
    section.page-title {
        padding: 3.5% 7%;
    }
    section.section-news-header {
        padding: 3.5% 8%;
    }
    section.blog-grid a.title {
        /* position: relative;
        top: -90px;
        padding: 0 15px; */
    }
    .blog-box .box-content {
        /* padding: 0 !important; */
         position: relative;
        top: -90px;
        padding: 0 15px;
    }
    .blog-box .box-content .title {
        font-size: 23.68px;
        font-weight: 700;
        margin: 0;
    }
    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
        position: relative;
        top: -8px;
    }
    .blog-grid .flat-tabs .menu-tab li {
        padding: 8px 18px;
    }
    .section-news-header {
        background: #1e1f22;
        padding: 32px 8%;
        border-bottom: 2px solid #232326;
    }
    .sidebar .widget ul li {
        padding-left: 14px;
        padding-right: 14px;
    }

    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* max-width: 1400px; */
        margin: 0 auto;
        /* padding: 0 32px; */
    }

    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }


}

/* 1920 PC */
@media (min-width: 1920px) and (max-width: 2109px) {
    section.blog-grid,
    section.page-title {
        padding: 3.5% 7%;
    }
    section.section-news-header {
        padding: 3.5% 13%;
    }
    section.blog-grid a.title {
        /* position: relative;
        top: -90px;
        padding: 0 15px; */
    }
    .blog-box .box-content {
        /* padding: 0 !important; */
        position: relative;
        top: -50px;
        padding: 0 20px;
    }
    .blog-box .box-content .title {
        font-size: 23.68px;
        font-weight: 700;
        margin: 0;
    }
    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
        position: relative;
        top: -5px;
    }
    .blog-grid .flat-tabs .menu-tab li {
        padding: 8px 18px;
    }



    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .news-title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0px;
        line-height: 1.2;
    }
    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }
}

@media (min-width: 2110px) and (max-width: 2560px) {
     section.blog-grid,
    section.page-title {
        padding: 3.5% 7%;
    }
    section.section-news-header {
        padding: 3.5% 16.5%;
    }
    .header .header__body {
        padding: 0 11% !important;
    }

    section.blog-grid a.title {
        /* position: relative;
        top: -90px;
        padding: 0 15px; */
    }
    .blog-box .box-content {
        /* padding: 0 !important; */
        position: relative;
        top: -50px;
        padding: 0 20px;
    }
    .blog-box .box-content .title {
        font-size: 23.68px;
        font-weight: 700;
        margin: 0;
    }
    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
        position: relative;
        top: -5px;
    }
    .blog-grid .flat-tabs .menu-tab li {
        padding: 8px 18px;
    }

    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .news-title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0px;
        line-height: 1.2;
    }
    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }
}

/* iPad Pro 1024 */
@media (min-width: 992px) and (max-width: 1024px) {
    header.header {
        padding: 0 4.5% !important;
    }
    section.blog-grid {
        padding: 4%;
    }
    section.section-news-header {
        padding: 5%;
    }

    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .news-title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0px;
        line-height: 1.2;
    }

    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }
}

/* iPad Pro 1366 */
@media (min-width: 1280px) and (max-width: 1366px) {
    section.blog-grid {
        padding: 2.5% 3.5%;
    }
    section.section-news-header {
        padding: 2.5% 4.5%;
    }
    header#header_main {
        padding: 0 4.75%;
    }


    .news-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* max-width: 1400px; */
        margin: 0 auto;
        /* padding: 0 32px; */
    }

    .news-title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0px;
        line-height: 1.2;
    }

    .news-search-form {
        display: flex;
        align-items: center;
        background: transparent;
    }

    .news-search-input {
        height: 35px;
        width: 247px;
        border: 1px solid #fff;
        border-right: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 0;
        outline: none;
    }
    input.news-search-input::placeholder {
        font-size: 14px;
    }

    .news-search-input::placeholder {
        color: #bdbdbd;
        font-size: 18px;
    }

    .news-search-btn {
        height: 35px;
        width: 40px;
        background: linear-gradient(90deg, #BCFE08, #86F969);
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
    }

    .news-search-btn:hover {
        background: linear-gradient(90deg, #86F969, #BCFE08);
    }

    .news-search-btn svg {
        display: block;
    }
}

