.banner-tao-lien-ket-gioi-thieu .banner-title {
    font-size: 36px;
}
.chi-tiet-tao-lien-ket-gioi-thieu {
    color: white;
}
.chi-tiet-tao-lien-ket-gioi-thieu {
    list-style-type: disc !important;
    font-weight: 300 !important;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 1.4;
}
.ul-chi-tiet-tao-lien-ket-gioi-thieu {
    padding-left: 1rem;
}
.gradient-text {
   background: linear-gradient(90deg, #bcfe08, #86f869);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3px;
}
section.banner-tao-lien-ket-gioi-thieu {
    background: #18191D;
}

@media (min-width: 1440px) and (max-width: 1599px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu {
        padding: 3.5% calc(7% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
}
@media (min-width: 1600px) and (max-width: 1919px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu {
        padding: 3.5% calc(12% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
}
@media (min-width: 1920px) and (max-width: 2099px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu {
        padding: 3.5% calc(12% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
}
@media (min-width: 2100px) {
    section.banner-tao-lien-ket-gioi-thieu, 
    section.content-tao-lien-ket-gioi-thieu {
        padding: 3.5% calc(15% + 15px);
    }
    .last-section-hdlkgt {
        padding-bottom: 10rem !important;
    }
}

/* iPad Pro 12.9" (1024 x 1366) */
@media (min-width: 1024px) and (max-width: 1366px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu {
        padding: 4%;
    }
}

/* iPad Air (820 x 1180) */
@media (min-width: 820px) and (max-width: 1180px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu {
        padding: 5% 4%;
    }
}

/* iPad Mini (768px width) */
@media (min-width: 768px) and (max-width: 819px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu {
        padding: 5% 4%;
    }
}

/* Mobile (≤ 767px) */
@media (max-width: 767px) {
    section.banner-tao-lien-ket-gioi-thieu,
    section.content-tao-lien-ket-gioi-thieu {
        padding: 6% 1.5rem;
    }
}
