.gradient-text {
   background: linear-gradient(90deg, #bcfe08, #86f869);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3px;
}
td {
    font-weight: 600;
}

.tr-top-2 {
    filter: brightness(0.9);
}
.tr-top-3 {
    filter: brightness(0.8);
}

.tr-top-1 {
    background: linear-gradient(to right,#BCFE08, #86F969) !important;
}
.tr-top-1 td {
    color: black !important;
}
.tr-top-2 {
    background: linear-gradient(to right, #9ed110, #86F969) !important;
}
.tr-top-2 td {
    color: black !important;
}
.tr-top-3 {
    background: linear-gradient(to right, #86b602, #86F969) !important;
}
.tr-top-3 td {
    color: black !important;
}

.bang-xep-hang tr {
    /* border-collapse: separate; */
    border-spacing: 0 16px !important; 
}

.cup-champ {
    width: 50px;
    height: 50px;
    position: relative;
    left: -10px;
    scale: 2.0;
}
.table tr {
    height: 50px; /* hoặc giá trị phù hợp với thiết kế của bạn */
    vertical-align: middle;
}
/* Nếu muốn áp dụng cho cả th, td */
.table th, .table td {
    height: 50px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
.normal-rank-number {
    position: relative;
    /* left: -10px; */
    /* margin-left: 10px; */
}

@media (min-width: 1440px) and (max-width: 1599px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 84%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 8%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 84%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 8%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }

    /* .tr-top-1 {
        background: linear-gradient(#BCFE08, #86F969) !important;
    }
    .tr-top-1 td {
        color: black;
    }
    .tr-top-2 {
        background: linear-gradient(#9ed110, #86F969) !important;
    }
    .tr-top-2 td {
        color: black;
    }
    .tr-top-3 {
        background: linear-gradient(#86b602, #86F969) !important;
    }
    .tr-top-3 td {
        color: black;
    } */
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

@media (min-width: 1920px) and (max-width: 2100px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 16px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 84%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 13%;
        margin-bottom: 7%;
    }
    section.thong-tin-su-kien {
        padding: 0 5.5%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }


    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

@media (min-width: 2101px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 16px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 84%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 15%;
        margin-bottom: 7%;
    }
    section.thong-tin-su-kien {
        padding: 0 8.5%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }

    
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

/* ipad pro 1366 */
@media (min-width: 1280px) and (max-width: 1366px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }

    
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

/* ipad pro 1024 */
@media (min-width: 992px) and (max-width: 1024px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 4%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
    h3.text-center {
        font-size: 32px !important;
    }
}

/* ipad air 1180 */
@media (min-width: 1100px) and (max-width: 1180px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
    h3.text-center {
        font-size: 32px !important;
    }
}


/* ipad air 820 */
@media (min-width: 768px) and (max-width: 860px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    p.thong-tin-content {
        padding: 0 3.5%;
    }

    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
    h3.text-center {
        font-size: 24px !important;
    }
}

/* other responsive */
@media (min-width: 861px ) and (max-width: 991px ) {
     .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    p.thong-tin-content {
        padding: 0 3.5%;
    }

    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
    h3.text-center {
        font-size: 24px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1099px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
    h3.text-center {
        font-size: 32px !important;
    }
}

@media (min-width: 1181px ) and (max-width: 1279px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }
    
    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}

@media (min-width: 1367px) and (max-width: 1439px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .countdown-container {
        padding: 3% 5%;
        text-align: center;
        color: black;
        display: flex;
        background: linear-gradient(#BCFE08, #86F969);
        margin: 0 auto;
        justify-content: center;
    }
   
    .time-countdown {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    p.countdown-text {
        margin-top: 15px;
    }
    .thong-tin-title {
        background: linear-gradient(#BCFE08, #86F969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding-top: 7%;
    }
    .thong-tin-content {
        text-align: center;
        justify-content: center;
    }
    .child-img {
        margin-top: 30px;
        width: 93%;
        height: 50%;
    }
    .child-image-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section.bang-xep-hang {
        padding: 20px 3.5%;
        margin-bottom: 7%;
    }
    td.boild , tr td, th {
        color: white;
    }
    .bxh {
        margin-top: 5%;
    }
    .bxh-container {
        margin-top: 7%;
    }
    p.bxh-desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
    }    
    tr {
        border-style: none !important;
        border-color: black !important;
    }

    .boild:nth-child(4), .boild:nth-child(5),
    th:nth-child(4), th:nth-child(5) {
        text-align: center;
    }
    td:nth-child(6),
    th:nth-child(6) {
        text-align: right;
    }
    tbody tr:nth-child(odd) {
        background: rgb(156 155 155 / 28%);
    }
}